src/main/app/sfdc-twitter-poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:twitter="http://www.mulesoft.org/schema/mule/twitter" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/twitter http://www.mulesoft.org/schema/mule/twitter/2.4/mule-twitter.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd">
    <context:property-placeholder location="mule.properties"/>
    <sfdc:config name="Salesforce" username="adrian.hsieh+developer@mulesoft.com" password="frensworkz2014" securityToken="ApjE1O8kAKwiro10Wto37j47D"  doc:name="Salesforce">
        <sfdc:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </sfdc:config>
    <twitter:config name="Twitter" accessKey="---" accessSecret="----" consumerKey="------" consumerSecret="--------" doc:name="Twitter">
        <twitter:connection-pooling-profile initialisationPolicy="INITIALISE_ONE" exhaustedAction="WHEN_EXHAUSTED_GROW"/>
    </twitter:config>
    <flow name="sfdc-twitter-pocFlow2" processingStrategy="synchronous" doc:name="sfdc-twitter-pocFlow2">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="${duration.minute}" timeUnit="MINUTES" startDelay="${initial.delay.minute}"/>
            <watermark variable="watermark" default-expression="#['2014-02-03T18:42:34.000Z']" selector="MAX" selector-expression="#[payload.LastModifiedDate]"/>
            <sfdc:query config-ref="Salesforce" query="Select Name, Company, LastModifiedDate from Lead where LastModifiedDate &gt; #[flowVars['watermark']]" doc:name="query"/>
        </poll>
        <logger level="INFO"/>
        <flow-ref name="sfdc-twitter-pocFlow1" doc:name="sfdc-twitter-pocFlow1"/>
        <logger message="Cycle completed!" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="sfdc-twitter-pocFlow1" doc:name="sfdc-twitter-pocFlow1" processingStrategy="synchronous">
        <foreach doc:name="For Each">
            <logger message="Map Payload: #[payload]" level="INFO" doc:name="Logger"/>
            <expression-transformer expression="#[payload.Name + ' : ' + payload.Company]" doc:name="Expression"/>
            <logger message="Transformed Payload: #[payload]" level="INFO" doc:name="Logger"/>
            <twitter:update-status config-ref="Twitter" status="#[payload]" doc:name="Twitter"/>        
 		</foreach>
    </flow>
</mule>
